.box {
  height: 4.5rem;
  width: 6.5rem;
  border: 0.1rem solid #07113c;
  font-family: "Manrope";
  margin-bottom: 0.4rem;
}

/* Color for open freqs */
.background-open {
  background-color: #6ff383 !important;
}

/* Color for closed freqs*/
.background-closed {
  background-color: #dee8e4;
}

.background-static {
  background-color: #0a2b6c !important;
}

.background-no-color {
  background-color: #061343;
}
