<div class="d-flex row gx-1">
  <app-area-element
    *ngFor="let i of [0, 1]"
    class="col"
    [areaInfo]="areasDisplayed[i]"
  ></app-area-element>
</div>
<div class="d-flex row gx-1 mt-1">
  <app-area-element
    *ngFor="let i of [2, 3]"
    class="col"
    [areaInfo]="areasDisplayed[i]"
  ></app-area-element>
</div>
<div class="d-flex row gx-1 mt-1">
  <app-area-element
    *ngFor="let i of [4]"
    class="col"
    [areaInfo]="areasDisplayed[i]"
  ></app-area-element>
</div>
