<div class="box fs-5">
  <div class="text-center background-black text-white fs-5">
    {{ airportData.icao }}
  </div>
  <div [className]="lvoOps == true ? 'background-lvo' : 'background-nvo'">
    <div class="">
      <div [ngSwitch]="lvoOps" class="text-center fs-3">
        <div *ngSwitchCase="true">LVO</div>
        <div *ngSwitchDefault>NVO</div>
      </div>
      <div class="d-flex fs-4 fw-bold justify-content-center">
        <div
          [ngClass]="{ 'atis-offline': !airportData.airport_atis.atis_code }"
          class="atis-letter text-center"
        >
          {{ airportData.airport_atis.atis_code }}
        </div>
        <div
          *ngIf="airportData.airport_atis.cid; then thenBlock; else elseBlock"
          class="text-center"
        ></div>
        <ng-template #thenBlock>{{
          airportData.airport_atis.runway_active
        }}</ng-template>
        <ng-template #elseBlock>{{ airportData.optimal_runways }}</ng-template>
      </div>
      <div class="d-flex border-top">
        <div
          [ngClass]="{ 'QNH-change-active': newQNH }"
          (click)="resetQNH()"
          class="col-8 text-center"
        >
          Q {{ airportData.metar.pressure }}
        </div>
        <div class="col-4 border-start text-center">-</div>
      </div>
    </div>
  </div>
</div>
