.box {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /*width: 7rem; */
  border: 0.1rem solid black;
  font-family: "Manrope";
}

.background-black {
  background-color: black;
}

/* Color for NVO airports */
.background-nvo {
  background-color: #5ced79;
}

/* Color for LVO airports */
.background-lvo {
  background-color: #ffffe3;
}

.text-white {
  color: white;
}

.border-top {
  border-color: black !important;
}

.border-start {
  border-color: black !important;
}

.QNH-change-active {
  background-color: yellow;
}

.atis-letter {
  padding-right: 0.9rem;
}

.atis-offline {
  display: none;

}
