<div
  [ngClass]="{ 'area-active': areaInfo.active }"
  class="box background-open d-flex flex-column align-items-center justify-content-between text-black"
>
  <div class="top-line">{{ areaInfo.name }}</div>
  <div class="fs-6 bottom-line">{{ areaInfo.safeLevel }}</div>
</div>
