.box {
  height: 5.5rem;
  width: 9rem;
  border: 0.1rem solid black;
  font-family: "Manrope";
}

/* Color for open freqs */
.background-open {
  background-color: #5ced79;
}

/* Color for closed freqs*/
.background-closed {
  background-color: #ffffe3;
}

.background-no-color {
  background-color: #061343;
}

.top-line {
  font-size: 1.4rem !important;
  margin-top: 0.4rem;
}

.bottom-line {
  font-size: 1.1rem !important;
  margin-bottom: 0.4rem;
}

.area-active {
  background-color: red !important;
}
