<section>
  <div class="container-fluid pt-custom" style="max-width: 1080px">
    <!-- Issue: padding doesnt allow for the viewport switch -->
    <!-- Possible solution: change the padding value depending on the viewport -->
    <!-- Current padding settings that migth work: 1080p = 2rem / 1920 = 20rem -->
    <div class="d-flex row px-meteo-px gx-meteo">
      <app-meteo-element
        class="col"
        *ngFor="let selectedAirport of airportData"
        [airportData]="selectedAirport"
      ></app-meteo-element>
    </div>
  </div>
</section>
