<!-- add other components-->
<div>
  <app-meteo-header [airportData]="airportData"></app-meteo-header>
  <app-control-menu></app-control-menu>
  <app-airport-main-content
    [airportData]="airportData"
  ></app-airport-main-content>
  <app-info-panels
    [activeControllers]="activeControllers"
    [activeAreas]="activeAreas"
  ></app-info-panels>
</div>
