<section>
  <div class="container-fluid d-flex thegrid">
    <div *ngFor="let i of [0, 1, 2, 3]" class="flex-row row-sep">
      <app-freq-block
        *ngFor="let j of [0, 1, 2, 3, 4]"
        [frequency]="freqBlocks[i][j]"
      ></app-freq-block>
    </div>
  </div>
</section>
