.box {
  border: 0.15rem solid #0b235d;
  font-family: "Manrope";
  background-color: #0b296f;
  margin: 0 0.15rem;
  height: 3.5rem;
}

.box:hover {
  border: 0.15rem solid rgb(141, 141, 141);
}

.box-active {
  border: 0.15rem solid white !important;
}

.fs-custom {
  font-size: 1.5rem;
}

.width-locker {
  max-width: 1080px;
}

.version-box {
  padding-left: 1rem;
}

.fs-custom-time {
  font-size: 2.4rem;
}

.my-custom {
  margin-top: 2.5rem;
}

.app-controller-info {
  margin-top: 1rem;
}

.active-position {
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  background-color: #5ced79;
  line-height: 1.2;
}
