<section class="container-fluid my-custom width-locker overflow-hidden">
  <div class="row fs-custom fw-bold text-white text-center px-4">
    <div class="col box d-flex justify-content-center align-items-center">
      MENU
    </div>
    <div
      class="col box box-active d-flex justify-content-center align-items-center"
    >
      MAIN
    </div>
    <div class="col box d-flex justify-content-center align-items-center">
      METEO
    </div>
    <div class="col box d-flex justify-content-center align-items-center">
      RCF
    </div>
    <div class="col box d-flex justify-content-center align-items-center">
      ASSIST
    </div>
    <div
      class="col box active-position d-flex flex-column justify-content-center align-items-center"
    >
      <div>ACTIVE</div>
      <div>POSITION</div>
    </div>
  </div>
  <div
    class="row d-flex justify-content-between text-white px-4 app-controller-info text-center"
  >
    <div class="col-6 d-flex justify-content-start fs-6 version-box">
      <div>Version 1.0.1</div>
    </div>
    <div class="col-2 offset-md-4 d-flex justify-content-start fs-custom-time">
      <div class="time-box">{{ date | date : "HH:mm:ss" : "UTC" }}</div>
    </div>
  </div>
</section>
