<section>
  <div class="container" style="max-width: 1080px">
    <div class="d-flex justify-content-between panels">
      <app-areas-panel [activeAreas]="activeAreas"></app-areas-panel>
      <app-frequency-panel
        [activeControllers]="activeControllers"
      ></app-frequency-panel>
    </div>
  </div>
</section>
