// @import "bootstrap/dist/css/bootstrap.css"

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// adjust custom spaces values if not defined on other maps
// use bootstrap notation for custom values
// eg something-px for custom padding values
$spacers-custom: (
  "meteo-px": $spacer * 2,
);

$spacers: map-merge($spacers-custom, $spacers);

@import "../node_modules/bootstrap/scss/maps";

// define custom gutter values
// use custom names to identify specific values for specific uses
// eg "meteo" for custom gutter for meteo-header
$gutters-custom: (
  10: $spacer * 10,
  "meteo": $spacer * 2,
);

$gutters: map-merge($gutters, $gutters-custom);

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Meteo-Font";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
